product-google-integration/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd">
    <configuration-properties file="mule-artifact.properties"/>
    <http:listener-config doc:id="fdab0bfa-ee68-4b79-a79c-ad11162b19d6" doc:name="CloudHub HTTP" doc:timestamp="1522438689614" name="cloudhub_http">
        <http:listener-connection host="0.0.0.0" port="${http.port}"/>
    </http:listener-config>
    <http:request-config basePath="/content/v2" doc:id="8fcb8298-e52c-4a11-b7a7-d698bfd8b921" doc:name="HTTPS Request" doc:timestamp="1522462056836" name="https_request">
        <http:request-connection host="www.googleapis.com" port="443" protocol="HTTPS">
			<http:authentication >
				<oauth:authorization-code-grant-type authorizationUrl="https://accounts.google.com/o/oauth2/auth" clientId="406996652622-sok5vadof608kd2f1i6ubu5kp69rhjcv.apps.googleusercontent.com" clientSecret="XOL2_-dw7v5kakiMTHeZEpTI" scopes="https://www.googleapis.com/auth/content" />
			</http:authentication>
		</http:request-connection>
    </http:request-config>
	<flow name="addproductstomerchat" doc:id="a9c48ff1-edea-4784-ad13-7dd09e20f8c1" >
		<http:request config-ref="https_request" doc:id="80e06fd1-8534-42f9-9111-f8d299be2a52" doc:name="Request" doc:timestamp="1522461128036" url="https://mocksvc.mulesoft.com/mocks/765c0c12-c331-4eed-b463-3160a572eae3/catalog/products" method="GET" />
		<foreach doc:id="cb90c3c1-e8d7-4eea-a535-7d41500bba0d" doc:name="Foreach" doc:timestamp="1522461166207">
            <ee:transform doc:id="9ec51eb3-51d5-4080-ada7-e2252bf8424a" doc:name="Transform" doc:timestamp="1522461690541">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json  
---
{
  title: payload.copy,
  description: payload.description,
  link: "http://www.example.com/asp/sp.asp?cat=12&id=1030",
  imageLink: payload.image.url,
  availability: "in stock",
  price: {
    value: payload.price.value as String,
    currency: payload.price.currency
  },
  condition: "new",
  offerId: payload.id as String,
  channel: "online",
  contentLanguage: "en_US",
  targetCountry: "US"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
			<http:request config-ref="https_request" doc:id="48c2ee50-53ae-418c-ba61-8302bfae314a" doc:name="Request" doc:timestamp="1522462061577" method="POST" path="/121330999/products" />
			<logger level="INFO" doc:name="Logger" doc:id="393924c3-afd0-4e42-96a7-398e78728137" />
        </foreach>
	</flow>
</mule>
