product-google-integration/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd">
    <configuration-properties file="mule-artifact.properties"/>
   <http:request-config basePath="/mocks/765c0c12-c331-4eed-b463-3160a572eae3" doc:name="HTTPS Request" name="https_request">
        <http:request-connection host="mocksvc.mulesoft.com" port="443" protocol="HTTPS" />
    </http:request-config>
   <http:request-config basePath="/content/v2" doc:id="8fcb8298-e52c-4a11-b7a7-d698bfd8b921" doc:name="HTTPS Request" doc:timestamp="1522462056836" name="https_request_oauth">
        <http:request-connection host="www.googleapis.com" port="443" protocol="HTTPS">
			<http:authentication >
				<oauth:client-credentials-grant-type clientId="406996652622-sok5vadof608kd2f1i6ubu5kp69rhjcv.apps.googleusercontent.com" clientSecret="XOL2_-dw7v5kakiMTHeZEpTI" scopes="https://www.googleapis.com/auth/content" tokenUrl="https://accounts.google.com/o/oauth2/auth" />
			</http:authentication>
		</http:request-connection>
    </http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="825d9f1f-965c-41ae-88b4-3482724ba163" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="a69ea197-81c5-48bc-829d-ba4ddaef3b22" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="mule-configFlow" doc:id="f7b1a98e-8fce-4ea3-b4bd-326fe2e41a25">
		<http:listener doc:name="Listener" doc:id="f0887f85-d0f7-43eb-bdaa-122262aaeddf" config-ref="HTTP_Listener_config" path="/oauth2callback" />
		<logger level="INFO" doc:name="Logger" doc:id="0105df9e-95e1-4d31-9410-db1c1ddf7373" message="#[payload]" />
	</flow>
	<flow name="addproductstomerchat" doc:id="a9c48ff1-edea-4784-ad13-7dd09e20f8c1" >
		<http:request config-ref="https_request" doc:id="80e06fd1-8534-42f9-9111-f8d299be2a52" doc:name="Request" doc:timestamp="1522461128036" method="GET" path="/catalog/products"/>
		<foreach doc:id="cb90c3c1-e8d7-4eea-a535-7d41500bba0d" doc:name="Foreach" doc:timestamp="1522461166207">
            <logger level="INFO" doc:name="Logger" doc:id="f6ed2adb-d494-4b0a-813e-d811d208731a" message="#[payload]"/>
			<ee:transform doc:id="9ec51eb3-51d5-4080-ada7-e2252bf8424a" doc:name="Transform" doc:timestamp="1522461690541">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json  
---
{
  title: payload.copy,
  description: payload.description,
  link: "http://www.example.com/asp/sp.asp?cat=12&id=1030",
  imageLink: payload.image.url,
  availability: "in stock",
  price: {
    value: payload.price.value as String,
    currency: payload.price.currency
  },
  condition: "new",
  offerId: payload.id as String,
  channel: "online",
  contentLanguage: "en_US",
  targetCountry: "US"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="0d43c7a6-4f22-4ef6-a9c1-e9daaffb01f6" message="#[payload]"/>
			<http:request config-ref="https_request_oauth" doc:id="48c2ee50-53ae-418c-ba61-8302bfae314a" doc:name="Request" doc:timestamp="1522462061577" method="POST" path="/121330999/products" />
			<logger level="INFO" doc:name="Logger" doc:id="393924c3-afd0-4e42-96a7-398e78728137" />
        </foreach>
	</flow>
	<flow name="mule-configFlow1" doc:id="a4a80d1f-aff0-40b9-8d1a-1ddc8e191f31" >
		<http:listener doc:name="Listener" doc:id="7cbdcd3c-147d-484f-bb37-40dbfb26d7f7" config-ref="HTTP_Listener_config1" path="/addproductstomerchat"/>
		<logger level="INFO" doc:name="Logger" doc:id="789d2f33-f174-4eef-aedb-0e4e97949e17" message="passei"/>
		<flow-ref doc:name="addproductstomerchat" doc:id="e622119c-557a-433e-b344-3cca4a85813c" name="addproductstomerchat"/>
	</flow>
</mule>
