desingflowclient/src/main/mule/desingflowclient.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_config_DesingFlow" doc:name="HTTP Request configuration" doc:id="f5bb02ca-51f6-4fa2-a7a8-223ad75d006d" basePath="/api">
		<http:request-connection protocol="HTTPS" host="api.dialogflow.com" port="443"/>
	</http:request-config>
	<flow name="desingflowclientFlow" doc:id="11c80fde-ad37-426d-a4c7-c4e3bede3251" >
		<set-payload value='{
	"event": {"name":"custom_welcome", 
		"data": {
			"user_name": "Renan"
		}
	},
	"lang": "en",
	"sessionId": "123"
}' doc:name="Set Payload" doc:id="f8b273f7-3bc2-4841-8ccd-6ab3c6d55367" mimeType="application/json"/>
		<http:request method="POST" doc:name="Request" doc:id="a50e4e92-93fe-4706-8482-99cb13fb9bee" config-ref="HTTP_Request_config_DesingFlow" target="response" path="/query">
			<http:headers ><![CDATA[#[output applicaton/java
---
{
	"Authorization" : "Bearer 0b165f1b68644f4d857cb8433b1e0286",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"v" : "20150910"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="a8e49973-70ac-442d-a38b-3b6f7f75e6c1" message='#[vars.response]'/>
	</flow>
</mule>
