order-change-fullfilment/src/main/mule/order-change-fullfilment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0fb42499-27d6-4b80-820b-111294c44e78" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="DialogFlowAPI" doc:name="HTTP Request configuration" doc:id="d7d35565-feda-463b-afa0-0363bdea65b7" basePath="/api">
		<http:request-connection protocol="HTTPS" host="api.dialogflow.com" port="443"/>
	</http:request-config>
	<http:request-config name="OrderAPI" doc:name="HTTP Request configuration" doc:id="de89657a-b36a-4350-a852-dd9246798d29" basePath="/mocks/449556cb-6c67-4cc2-bd92-18b335ac4e01">
		<http:request-connection protocol="HTTPS" host="mocksvc.mulesoft.com" port="443"/>
	</http:request-config>
	<http:request-config name="Catalog_API" doc:name="HTTP Request configuration" doc:id="e992ca9d-8c0d-434e-883f-4ae4c9795d05" basePath="/mocks/dfe96a2b-b982-484d-8c72-00cfc8f4fddc" >
		<http:request-connection host="mocksvc.mulesoft.com" port="443" protocol="HTTPS"/>
	</http:request-config>
	<flow name="order-change-fullfilmentFlow" doc:id="c659e6a9-f568-4ac4-a07a-3b06ce163cba" >
		<http:listener doc:name="Listener" doc:id="589b4cfa-39e0-4ba7-9dc9-21cc45a51025" config-ref="HTTP_Listener_config" path="/chat"/>
		<scripting:execute engine="groovy" doc:name="Execute read index.html file from resource classpath" doc:id="40cafedc-8f29-49d8-9c49-5da60829e60f">
			<scripting:code>return Thread.currentThread().getContextClassLoader().getResourceAsStream('index.html').text</scripting:code>
		</scripting:execute>
		<set-payload value="#[payload]" doc:name="Set Payload mimeType to text/html" doc:id="897645ab-d3b7-40bb-8392-76be680e7521" mimeType="text/html"/>
	</flow>
	<flow name="send-UI-request-to-DialogFlow" doc:id="1f3dd482-787c-4da8-83f8-7a2f10b16698" >
		<http:listener doc:name="Listener" doc:id="31da4c63-7064-4eea-ab24-c43e4a3fba5e" config-ref="HTTP_Listener_config" path="/request" outputMimeType="application/json"/>
		<http:request method="POST" doc:name="Request" doc:id="73ea48bb-a89c-4a79-9453-d4f48abaeb27" config-ref="DialogFlowAPI" path="/query" outputMimeType="application/json">
			<http:headers ><![CDATA[#[output applicaton/java
---
{
	"Authorization" : "Bearer 0b165f1b68644f4d857cb8433b1e0286",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"v" : "20150910"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="d99ee9f2-ddf4-46a3-bf58-fa8a715721c9" message="#[payload]"/>
	</flow>
	<flow name="order-change-fullfilmentFlow1" doc:id="9b0e0c03-a2fa-49e5-8f13-65cf587ce84a" >
		<http:listener doc:name="Listener" doc:id="9e153406-b378-4dbf-921f-2cc3609dcc40" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="8ef3ec55-0060-4deb-94f1-118f7281249a" message="order-change-fullfilmentFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="dc11db77-2739-4a05-b3dd-3d266e0427fb">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
			<ee:variables >
				<ee:set-variable variableName="action" ><![CDATA[%dw 2.0
output application/java
---
payload.result.action]]></ee:set-variable>
			</ee:variables>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="91688f5c-6910-45a3-bb34-cca01797fb84" message='"Action: " #[vars.action]'/>
		<choice doc:name="Choice" doc:id="e40a9d16-9329-43cc-8367-a4980ec0acd5" >
			<when expression='#[vars.action == "list-orders"]'>
				<flow-ref doc:name="List Orders" doc:id="7313524c-e14c-43cc-921a-4ce6f5878b1d" name="listOrdersFlow"/>
			</when>
			<when expression='#[vars.action == "get-order-details"]' >
				<flow-ref doc:name="showOrderDetails" doc:id="ab09da6f-59f5-4e02-a228-a7efc604ddbe" name="showOrderDetails"/>
			</when>
			<when expression='#[vars.action == "change-item-quantity"]' >
				<flow-ref doc:name="change-item-quantity" doc:id="0fa7c6b9-9981-4ffb-8aaa-c37bf1df8388" name="change-item-quantity"/>
			</when>
			<when expression='#[vars.action == "change-order-quantity-confirmation"]' >
				<flow-ref doc:name="change-order-quantity-confirmation" doc:id="fc9cfcf4-d7a0-4132-a57e-7c936f7822e0" name="change-order-quantity-confirmation"/>
			</when>
			<when expression='#[vars.action == "add-new-product"]' >
				<flow-ref doc:name="add-new-product" doc:id="111045fc-28c1-4243-ad6b-0ba2335920d2" name="add-new-product" />
			</when>
			<when expression='#[vars.action == "add-suggested-product"]' >
				<flow-ref doc:name="add-suggested-product" doc:id="6a89b322-dcc3-4ec5-8c62-fc7094c54ecb" name="add-suggested-product"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="f69deeb9-6690-484f-afbd-9722bb880573" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "speech": "Nope",
  "displayText": "Nope",
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="add-suggested-product" doc:id="8268e97c-f4b4-4d7a-b8a9-826b1339476e" >
		<logger message="" doc:name="Logger" level="INFO"/>
	</sub-flow>
	<sub-flow name="add-new-product" doc:id="4b1cc876-0bdc-4b94-aa6c-9d9f53104fa3" >
		<logger message="" doc:name="Logger"/>
	</sub-flow>
	<sub-flow name="change-order-quantity-confirmation" doc:id="a39e8416-3103-4681-afa6-88eb7a617ec0" >
		<logger message="" doc:name="Logger"/>
	</sub-flow>
	<sub-flow name="change-item-quantity" doc:id="2dd7b9c9-96e0-400a-89cb-ec92f709c7e3" >
		<ee:transform doc:name="Transform Message" doc:id="43467a82-7f84-4955-892a-5b4ce6a5becc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.result.contexts[0].parameters.new_products map ($)]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="urlWithOrderID" ><![CDATA[%dw 2.0
output application/java
---
"/ordering/orders/" ++ (payload.result.contexts[0].parameters.order_id as String)]]></ee:set-variable>
				<ee:set-variable variableName="orderID" ><![CDATA[%dw 2.0
output application/java
---
payload.result.contexts[0].parameters.order_id as Number]]></ee:set-variable>
				<ee:set-variable variableName="customerID" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<java:new doc:name="New products as an ArrayList" doc:id="62458363-cfb7-4008-9fe1-c9d3bf18da8e" class="java.util.ArrayList" constructor="ArrayList()" target="products"/>
		<foreach doc:name="For Each" doc:id="fe25ed68-9801-4df2-a3e4-b95a18fb55ac" collection="#[payload]">
			<ee:transform doc:name="Transform Message" doc:id="b5d95473-2404-4ff2-8e78-d8f4252bdeb4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"/catalog/products/" ++ (payload.id as String)]]></ee:set-payload>
			</ee:message>
				<ee:variables >
					<ee:set-variable variableName="productNewAmount" ><![CDATA[%dw 2.0
output application/java
---
payload.newAmount as Number]]></ee:set-variable>
					<ee:set-variable variableName="productCurrentAmount" ><![CDATA[%dw 2.0
output application/java
---
payload.currentAmount as Number]]></ee:set-variable>
				</ee:variables>
		</ee:transform>
			<http:request method="GET" doc:name="Retrieve the productData" doc:id="b5d8485b-3ff7-47f8-bb9c-8ef7306cce73" config-ref="Catalog_API" path="#[payload]"/>
			<ee:transform doc:name="Transform Message" doc:id="04a43577-05d8-41cf-94b7-6ea166f63312" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"/ordering/orders/" ++ (vars.orderID as String)]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="product" ><![CDATA[%dw 2.0
output application/json
---
{
    "id": payload.id,
    "price": payload.price,
    "name": payload.copy,
    "image": payload.image,
    "quantity": vars.productNewAmount
}   ]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<http:request method="PATCH" doc:name="Updated Order Product quantity" doc:id="6d705c92-eab7-4e57-958a-7198e40a806b" config-ref="OrderAPI" path="#[payload]" />
			<ee:transform doc:name="Transform Message" doc:id="ffcad589-68e3-4281-8f23-95f3db3cea5f" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  product: vars.product
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="customerID" ><![CDATA[%dw 2.0
output application/java
---
payload.customerID as Number]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<scripting:execute engine="groovy" doc:name="Execute" doc:id="4b7b2de5-a9d4-4ef7-bd32-272b7fb8dfb4" >
				<scripting:code >vars.products.add(payload)</scripting:code>
			</scripting:execute>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="2019d878-9ebf-4ce5-a057-01efdd4e7c39">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "data": {
  	"type": "new-order",
  	"text": "No problem, that has not shipped yet, so I can just change the quantity for you. Is that OK?",
  	"order" : {
  	   "id": vars.orderID,
  	   "totalAmountPrice": sum(vars.products.*product.price.value) * (sum(vars.products.*product.quantity) as Number),
  	   "totalAmountPriceCurrency": vars.products[0].product.price.currency,
  	   "customerID": vars.customerID,
  	   "products": vars.products
  	}
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="93c9470c-44cb-44b8-b0ce-170bb6a261ba" message="#[payload]" />
	</sub-flow>
	<sub-flow name="listOrdersFlow" doc:id="ec6a625c-d90f-44d8-bca8-44e210259c50" >
		<http:request method="GET" doc:name="Request (OrderAPI)" doc:id="c39244f4-4f86-44f9-bb7f-b44537d8406d" config-ref="OrderAPI" url="https://mocksvc.mulesoft.com/mocks/449556cb-6c67-4cc2-bd92-18b335ac4e01/ordering/orders"/>
		<ee:transform doc:name="Set the payload and read the order list as an orderLabel" doc:id="e4d4b9aa-014c-4c62-80f5-f9f35d97d2d6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.id map ($)]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<java:new doc:name="New OrdersList" doc:id="c5c3eda0-1399-4bcb-b056-3590bb76176e" class="java.util.ArrayList" constructor="ArrayList()" target="orderList"/>
		<foreach doc:name="For Each" doc:id="f8b4ccd7-d9ef-4d41-b1f6-52f6d5f04937" collection="#[payload]">
			<flow-ref doc:name="filOrderDetail" doc:id="8ec157de-f821-4413-960b-b381c9444ef5" name="filOrderDetail"/>
			<ee:transform doc:name="Transform Message" doc:id="74488fd2-95c8-4766-abcb-6f80fd600951" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	id: payload.order.id as Number,
	totalAmountPrice: payload.order.totalAmountPrice as Number,
	totalAmountPriceCurrency: payload.order.totalAmountPriceCurrency as String,
	shippingStatus: payload.order.shippingStatus as String,
	customerID: payload.order.customerID as Number,
	products: payload.order.products
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<scripting:execute engine="groovy" doc:name="Execute add to orderList" doc:id="13ac49cf-2ef6-4059-a81e-8a91cc3c9220" >
				<scripting:code >vars.orderList.add(payload)</scripting:code>
			</scripting:execute>
		</foreach>
		<ee:transform doc:name="Appending the orderList size and orderLabel to the payload.displayText field" doc:id="2019d878-9ebf-4ce5-a057-01efdd4e7c39">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
 	"data": {
		"type": "order-list",
		"text": "Sure, this are your last orders, which one you would like to look at?",
		"orders": vars.orderList map
		(
			$
		)
	}   
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a15b196d-faac-4ce6-9637-55a1bf50b45b" message="#[payload]"/>
	</sub-flow>
	<sub-flow name="showOrderDetails" doc:id="c4362728-860f-4cf1-bc26-14777a4c6d52" >
		<ee:transform doc:name="Transform Message" doc:id="edd862de-7907-49fe-9cd6-2afeadb5cc4f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.result.contexts[0].parameters.number as Number]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="orderID" ><![CDATA[%dw 2.0
output application/java
---
payload.result.contexts[0].parameters.number as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="filOrderDetail" doc:id="fa35943b-eb50-4685-9d58-f3e21fc19b4a" name="filOrderDetail"/>
		<ee:transform doc:name="Setting the payload whith the labels" doc:id="aa0cd380-bd87-41f7-a802-789726b48054" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"data": {
		"type": "order-detail",
		"text": "Thanks! Here is order " ++ vars.orderID ++ ". What do you want to change? ",
		"order": {
			id: payload.order.id,
			totalAmountPrice: payload.order.totalAmountPrice,
			totalAmountPriceCurrency: payload.order.totalAmountPriceCurrency,
			shippingStatus: payload.order.shippingStatus,
			customerID: payload.order.customerID,
			products: payload.order.products
	   }
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="productsLabel" ><![CDATA[%dw 2.0
output application/json
---
{}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a8a9e85e-62d9-48b2-9559-c9219f055f5b" message="#[payload]"/>
	</sub-flow>
	<sub-flow name="filOrderDetail" doc:id="27da3670-7def-4a61-9d7c-f83974b17aa0" >
		<ee:transform doc:name="building URL and orderID vars" doc:id="c0b3d5bd-1e6b-476a-833e-3727154d11be">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="pathWithOrderID"><![CDATA[%dw 2.0
output application/json
---
("/ordering/orders/" ++ (payload as String)) as String]]></ee:set-variable>
				<ee:set-variable variableName="orderID"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<java:new doc:name="New fullProductList {as an ArrayList}" doc:id="d7419e5e-600f-448e-b511-cb9eeec8957e" target="fullProductList" class="java.util.ArrayList" constructor="ArrayList()" />
		<http:request method="GET" doc:name="Get Order (OrderAPI)" doc:id="c39244f4-4f86-44f9-bb7f-b44537d8406d" config-ref="OrderAPI" path="#[vars.pathWithOrderID]" />
		<ee:transform doc:name="building the product Listn" doc:id="f5406c13-b298-4f5d-9cf3-547ef5b2ac2b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.products map ($)]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="orderDetails"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="30081075-d897-4b98-ac55-788da89b1dc9" collection="#[payload]">
			<ee:transform doc:name="builder URL and product amount vars" doc:id="8f2ac492-287a-4969-a69b-a14dc92aa778">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"/catalog/products/" ++ (payload.id as String)]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="productAmount"><![CDATA[%dw 2.0
output application/java
---
payload.amount as Number]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<http:request method="GET" doc:name="Get ProductData (CatalogAPI)" doc:id="2aa1108a-5a35-488f-96f7-a735546b2109" config-ref="Catalog_API" path="#[payload]" />
			<ee:transform doc:name="building a product with amount" doc:id="902501fe-d5bf-4899-a947-5927d8e3cded">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	amount: vars.productAmount,
	product: {
		id: payload.id,
		price: payload.price,
		description: payload.description,
		copy: payload.copy,
		image: payload.image,
		company: payload.company,
		category: payload.category,
		object: {
	        "id": payload.id,
	        "price": payload.price,
	        "name": payload.copy,
	        "image": payload.image,
	        "amount": vars.productAmount
        }       
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<scripting:execute engine="groovy" doc:name="adding the product to productList" doc:id="f58f7986-8c9f-4934-a196-900e83c9b0bd">
				<scripting:code>vars.fullProductList.add(payload)</scripting:code>
			</scripting:execute>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="55cc34ee-fc7e-4468-a6a3-d6e978c47d48" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"order": {
		id: vars.orderID,
		totalAmountPrice: vars.orderDetails.totalAmountPrice,
		totalAmountPriceCurrency: vars.orderDetails.totalAmountPriceCurrency,
		shippingStatus: vars.orderDetails.shippingStatus,
		customerID: vars.orderDetails.customerID,
		products: 
			vars.fullProductList.product.object map (
				$
			)
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
