product-finder/src/main/mule/catalog.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">
    <http:listener-config name="catalog-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="catalog-config" raml="catalog.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="catalog-main">
        <http:listener config-ref="catalog-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="catalog-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="catalog-console">
        <http:listener config-ref="catalog-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="catalog-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\catalog\products\(product_id):catalog-config">
        <logger level="INFO" message="patch:\catalog\products\(product_id):catalog-config" />
    </flow>
    <flow name="get:\catalog\products\price\(price):catalog-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 123,
    price: {
      value: 123.45,
      currency: "Dollar"
    },
    description: "Super Exciting Tent",
    copy: "This tent is the best tent ever! You can do amazing things with it!",
    image: {
      id: 1234,
      url: "test.jpg/"
    },
    company: {
      id: 123,
      name: "Sports Basement",
      address: {
        country: "USA",
        state: "CA",
        city: "San Francisco",
        street_address: "1 Market",
        zip: 94029
      }
    },
    category: "Outdoor Sports",
    review: [
      {
        reviewer_name: "Other Reviewer",
        review: "I hate it!",
        date: "2018-03-19",
        rate: 1
      }
    ]
  }, 
  {
    id: 456,
    price: {
      value: 123.45,
      currency: "Dollar"
    },
    description: "Other product",
    copy: "This tent is the best tent ever! You can do amazing things with it!",
    image: {
      id: 1234,
      url: "test.jpg/"
    },
    company: {
      id: 123,
      name: "Sports Basement",
      address: {
        country: "USA",
        state: "CA",
        city: "San Francisco",
        street_address: "1 Market",
        zip: 94029
      }
    },
    category: "Outdoor Sports",
    review: [
      {
        reviewer_name: "Other Reviewer",
        review: "I hate it!",
        date: "2018-03-19",
        rate: 1
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\catalog\products:catalog-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 123,
    price: {
      value: 123.45,
      currency: "Dollar"
    },
    description: "Super Exciting Tent",
    copy: "This tent is the best tent ever! You can do amazing things with it!",
    image: {
      id: 1234,
      url: "test.jpg/"
    },
    company: {
      id: 123,
      name: "Sports Basement",
      address: {
        country: "USA",
        state: "CA",
        city: "San Francisco",
        street_address: "1 Market",
        zip: 94029
      }
    },
    category: "Outdoor Sports",
    review: [
      {
        reviewer_name: "Other Reviewer",
        review: "I hate it!",
        date: "2018-03-19",
        rate: 1
      }
    ]
  }, 
  {
    id: 456,
    price: {
      value: 123.45,
      currency: "Dollar"
    },
    description: "Other product",
    copy: "This tent is the best tent ever! You can do amazing things with it!",
    image: {
      id: 1234,
      url: "test.jpg/"
    },
    company: {
      id: 123,
      name: "Sports Basement",
      address: {
        country: "USA",
        state: "CA",
        city: "San Francisco",
        street_address: "1 Market",
        zip: 94029
      }
    },
    category: "Outdoor Sports",
    review: [
      {
        reviewer_name: "Other Reviewer",
        review: "I hate it!",
        date: "2018-03-19",
        rate: 1
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\catalog\products\(product_id):catalog-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 123,
  price: {
    value: 123.45,
    currency: "Dollar"
  },
  description: "Super Exciting Tent",
  copy: "This tent is the best tent ever! You can do amazing things with it!",
  image: {
    id: 1234,
    url: "https://s7d2.scene7.com/is/image/dkscdn/16FNSUFS7X6X463PRCAT_Orange_is/"
  },
  company: {
    id: 123,
    name: "Sports Basement",
    address: {
      country: "USA",
      state: "CA",
      city: "San Francisco",
      street_address: "1 Market",
      zip: 94029
    }
  },
  category: "Outdoor Sports",
  review: [
    {
      reviewer_name: "Renan",
      review: "Best Product ever",
      date: "2018-03-19",
      rate: 5
    }, 
    {
      reviewer_name: "Other Reviewer",
      review: "I hate it!",
      date: "2018-03-19",
      rate: 1
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\catalog\products\price\(price):application\json:catalog-config">
        <logger level="INFO" message="post:\catalog\products\price\(price):application\json:catalog-config" />
    </flow>
    <flow name="post:\catalog\products:application\json:catalog-config">
        <logger level="INFO" message="post:\catalog\products:application\json:catalog-config" />
    </flow>
</mule>
